body {
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(231, 231, 231);
}


.calc_body {

    width: 30em;
    height: 50em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    filter: drop-shadow(0 0 0.25rem rgb(192, 192, 192));
}

.calc_screen {
    width: 25em;
    height: 10em;

    background-color: rgb(44, 44, 44);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: end;

    font-family: 'Roboto', sans-serif;
}

#screen_top{
    width: 90%;
    height: 40%;

    font-size: 2.5em;

    display: flex;
    justify-content: end;
    align-items: center;

    color: white;
}

#screen_bottom{
    width: 90%;
    height: 40%;

    font-size: 1.5em;

    display: flex;
    justify-content: end;
    align-items: center;
   
    color:rgb(194, 194, 194)
}

.calc_body button {
    width: 100px;
    height: 100px;

    border-radius: 0;
    border-width: 1px;

    background-color: rgb(79, 79, 80);
    color: white;

    font-family: 'Roboto', sans-serif;
    font-size: 2em;
}

.calc_body button:active{
    background-color: rgb(63, 63, 63);
}

.calc_body .equals_btn{
    background-color: rgb(146, 209, 73);
    border-radius: 0;

    border-bottom-right-radius: 20px;
}

.calc_body .equals_btn:active{
    background-color: rgb(132, 247, 0);
}

.calc_body .zero_btn{
    border-bottom-left-radius: 20px;
}

.calc_body .operator{ 
    background-color: rgb(69, 69, 82);
}

.calc_body .operator:active{
    background-color: rgb(52, 52, 61);
} 

.row {
    display: flex;
}